body {
    font-family: sans-serif;
}

a {
    background-color: yellow;
    background-size: initial;
    border:10px;
}
footer {
    background-color: yellow;
}
h1 {
    text-align: center;
}
img {
    border: ;
}
header {
    text-align: center;
}
